# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle emojiscript'
      'command': 'emojiscript:toggle'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'emojiscript'
      'submenu': [
        {
          'label': 'Toggle Emoji User Panel'
          'command': 'emojiscript:toggle'
        },
        {
          'label': 'Run'
          'command': 'emojiscript:run'
        }
      ]
    ]
  }
]
